<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
</p>

<h2><%= t("comments.comments_header") %></h2>

<p>
<% @article.comments.each do |comment| %>
	
	<p>
	<i><%= comment.author %> said:</i><br />
	<%= comment.body %>
	</p>	

	<hr />
<% end %>
</p>

<h2><%= t("comments.add_comment") %></h2>

<p>
<% if user_signed_in? %>

	<%= form_for([@article, @article.comments.build]) do |f| %>
	
		<div class="form-group mb-3">
			<%= f.label :author %>: <%= current_user.username %> 
		</div>

		<div class="form-group mb-3">
			<%= f.label :comment, style: 'display: block' %>
			<%= f.text_area :body, class: 'form-control form-control-lg' %>
		</div>

		<div class="form-group mb-3">
			<%= f.submit class: 'btn btn-primary btn-lg' %>
		</div>
	<% end %>

<% else %>
	
	<p><%= t("comments.post_comments") %> <%= link_to 'Sign In', new_user_session_path %> <%= t("comments.post_comments_word_or") %> <%= link_to 'Sign Up', new_user_registration_path %></p>	
	
<% end %>
</p>			